[Desktop Entry]
Name=Flatpak Apps
Comment=Install, run, and update apps in the private storage of a Qube
Exec=qube-apps
Terminal=false
Type=Application
Icon=qube-apps
Categories=Utility;
